{#
/**
 * @file
 * Default theme implementation for an 'input' #type (button) form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - icon: glyphicon icon.
 * - label: button label.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 *
 * @ingroup themeable
 */
#}
<button{{ attributes }}>{{ icon }}{{ label }}</button>{{ children }}
