{#
/**
 * @file
 * Bootstrap theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *
 * @see template_preprocess_pager()
 * @see bootstrap_preprocess_pager()
 *
 * @ingroup themeable
 */
#}
{% if items %}
  <div class="text-center">
    <h2 class="visually-hidden">{{ 'Pages'|t }}</h2>
    {{ items }}
  </div>
{% endif %}
