{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - autocomplete: Boolean whether field is an autocomplete field.
 * - autocomplete_attributes: attributes for hidden input field required
 *   for autocomplete functionality.
 *
 * @see template_preprocess_input()
 *
 * @ingroup templates
 */
#}
{%- if input_group -%}
  <div class="input-group">
{%- endif -%}
{%- if prefix -%}
  {{ prefix }}
{%- endif -%}
{%- block input -%}
  <input{{ attributes }} />
{%- endblock -%}
{%- if suffix -%}
  {{ suffix }}
{%- endif -%}
{%- if input_group -%}
  </div>
{%- endif -%}
{{ children }}
