{#
/**
 * @file
 * Default theme implementation for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 * - autocomplete: Boolean whether field is an autocomplete field.
 * - autocomplete_attributes: attributes for hidden input field required
 *   for autocomplete functionality.
 *
 * @see template_preprocess_input()
 *
 * @ingroup templates
 */
#}
{% if autocomplete or input_group %}
  <div class="input-group">
{% endif %}
<input{{ attributes }} />{{ children }}
{% if input_group %}
  </div>
{% elseif autocomplete %}
    <span class="input-group-addon">{{ autocomplete_icon }}</span>
  </div>
  <input{{ autocomplete_attributes }}>
{% endif %}
